.panelContainer {
  background: rgb(255, 255, 255);
  height: calc(100vh - 50px);
  top: 50px;
  overflow: scroll;
  position: sticky;
  display: flex;
  flex: 4;
}

.panelWrapper {
  font-size: 20px;
  padding: 20px;
}

.panelLeft {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-group {
  display: flex;
}
.btn-group button {
  outline: none;
  cursor: pointer;
  border: none;
  width: 150px;
  padding: 10px;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #ff1f1f;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
